{% extends 'layouts/app.twig' %}

{% block content %}

    <h2 class="font-weight-bold">設定使用者密碼</h2>
    <hr /><br />

    <form class="col-md-6" method="post" action="{{ path_for('set-password') }}">
        <div class="form-group row">
            <label class="col-form-label col-md-3">使用者帳號:</label>
            <input class="form-control col-md-4" list="accountList" name="account" id="account" value="{{ old.account }}" required />
                <dataList id="accountList">
                    {% for user in users %}
                    <option value="{{ user.account }}">{{ user.account }}</option>
                    {% endfor %}
                </dataList>
            <span class="help-block {% if error.account %}{{ 'text-danger' }}{% endif %}">{{ error.account }}</span>
        </div>
        <div class="form-group">
            <label for="nPasswd">新密碼</label>
            <input type="password" name="nPasswd" class="form-control {% if error.nPasswd %}{{ 'is-invalid' }}{% endif %}" required>
            <span class="help-block {% if error.nPasswd %}{{ 'text-danger' }}{% endif %}">{{ error.nPasswd }}</span>
        </div>
        <div class="form-group">
            <label for="nnPasswd">再次輸入新密碼</label>
            <input type="password" name="nnPasswd" class="form-control {% if error.nnPasswd %}{{ 'is-invalid' }}{% endif %}" required>
            <span class="help-block {% if error.nnPasswd %}{{ 'text-danger' }}{% endif %}">{{ error.nnPasswd }}</span>
        </div>
        <br /><br />
        <div class="form-group float-right">
            <button type="submit" class="btn btn-outline-primary">確認修改</button>
            <a href="{{ path_for('home') }}" class="btn btn-secondary">返回</a>
        </div>
        {{ csrf.field | raw }}
    </form>
    
{% endblock %}