<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fas fa-align-left"></i>
        </button>
        <a class="navbar-brand" style="margin-left: 5px;" href="{{ path_for('home') }}">
            <img src="{{ base_url() }}/images/hta_logo.gif" width="30" height="30" class="d-inline-block align-top" alt="">
            HTA
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">

            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('home') }}">首頁</a>
                </li>

                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                        <img class="rounded-circle" style="margin-top:-5px; height: 1.5rem; width: 1.5rem;" src="{{ base_url() }}/images/default.png">
                        {{ auth.user }}
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path_for('reset-password') }}">
                            重設密碼
                        </a>
                        <a class="dropdown-item" href=""
                           onclick="event.preventDefault();
                                    document.getElementById('logout-form').submit();">
                            登出
                        </a>
                        <form id="logout-form" action="{{ path_for('logout') }}" method="get" style="display: none;">
                        </form>
                        
                        {% if auth.admin %}
                            <hr />
                            <a class="dropdown-item" href="{{ path_for('register') }}">
                                新增使用者
                            </a>
                            <a class="dropdown-item" href="{{ path_for('modify-user-profile') }}">
                                修改使用者資料
                            </a>
                            <a class="dropdown-item" href="{{ path_for('set-password') }}">
                                重設使用者密碼
                            </a>
                        {% endif %}

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Scroll to Top Button-->
<button id="scroll-to-top">
    <i class="fas fa-angle-up"></i>
</button>

