<!DOCTYPE html>
<html>
<head>
    <title>亨通 ERP</title>

    <script src="{{ base_url() }}/packages/jquery.min.js"></script>
    <script src="{{ base_url() }}/packages/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/packages/FileSaver.min.js"></script>
    <script src="{{ base_url() }}/packages/tableExport.min.js"></script>
    <script src="{{ base_url() }}/packages/xlsx.core.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>